{% extends "base.html" %}
{% load url from future %}

{% block title %}Your servers{% endblock %}
{% block pagetitle %}Your servers{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/OpenLayers-2.12/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}floppyforms/js/MapWidget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-table.js"></script>

    <script id="foo"></script>
    {{ location_form.media }}
    <script id="bar"></script>
{% endblock %}

{% block content %}
{% if not user.profile.email_confirmed %}
    <div class="alert-message warning">
        Your E-Mail address has not yet been confirmed. You should have received a confirmation message
        containing the link needed to confirm it. If you haven't received such a message,
        you can <a href="{% url "account_resend_confirmation" %}">resend it</a>. If
        you misspelled your address, you can <a href="{% url "account_edit" %}">change it here</a>.
    </div>
{% endif %}
{% if not user.profile.jid_confirmed %}
    <div class="alert-message warning">
        Your JID has not yet been confirmed. You should have received a confirmation message
        containing the link needed to confirm it. If you haven't received such a message,
        you can <a href="{% url "account_resend_confirmation" %}">resend it</a>. If
        you misspelled your JID, you can <a href="{% url "account_edit" %}">change it here</a>.
    </div>
{% endif %}
    
<table class="condensed-table" id="your-servers">
    <thead>
    <tr>
        <th>Status</th>
        {% for field in new_server_form %}
            <th title="{{ field.help_text }}">{{ field.label }}</th>
        {% endfor %}
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for form in forms %}
    {% include "includes/server_table_row.html" %}
{% endfor %}
    <tr class="new-server">
        <td></td>
        {% for field in new_server_form %}
            <td title="{{ field.help_text }}">{{ field }}</td>
        {% endfor %}
        <td class="right">
            <img class="button-add" src="{{ STATIC_URL }}img/add.png" alt="add new server" title="add new server" />
        </td>
    </tr>
    </tbody>
</table>
<h2>Help on adding/editing servers</h2>
A few notes on adding/editing servers:
<ul>
    <li>
        When adding a server, use the last row to fill out data of your server. When you are done,
        click the '+' sign on the right. If you are unsure what a field means, a description is
        shown when you hover over an input field.
    </li>
    <li>
        If you have any questions on what specific fields mean or why your server wasn't verified,
        please join our MUC at chat@conference.jabber.at (as usual: as a MUC, don't expect to
        get an immediate response, just lurk around for a while!).
    </li>
    <li>
        If your Certificate Authority is not listed for the <strong>CA</strong> field, please
        don't hesitate to report it in our MUC at chat@conference.jabber.at.
    </li>
    <li>
        Don't go into to much detail on the <strong>Launched</strong> field. Only the year is
        actually used, don't hesitate to just pick January 1st of that year.
    </li>
    <li>
        Please especially note the <strong>Location</strong> field. It should be in the
        input format "long,lat", for example, "16.37,48.2". The easiest way to retrieve coordinates
        is to click on the little OSM-button right of the input field and use the fancy applet :-).
    </li>
    <li>
        Also take special care of the <strong>Contact type</strong> and <strong>Contact</strong>
        field. If you choose a JID or an e-mail address as a contact, you will receive a seperate
        verification message to confirm your contact details. If you choose a MUC or a website
        (presumably containing a contact-form), it will be manually checked by a moderator.
    </li>
    <li>
        For a server to show up on the frontpage, it has to be both verified and moderated.
        Verification is done automatically every few hours and checks SRV records and the like.
        Moderation is done by humans and checks things that cannot be automatically verified, like
        if your homepage actually works and shows some useful information. 
    </li>
    <li>
        The status (the left-most column) is actually a pop-up describing if your server is
        currently shown on the frontpage and if not, what the problems are. Just click on the symbol
        to get additional details.
    </li>
    <li>
        Please note that servers are never shown on the frontpage if your personal JID and e-mail
        are not verified. See <a href="{% url "account"%}">your profile</a> for details.
    </li>
    <li>
        If you have multiple virtual hosts running on the same server, simply add them as if they
        where individual servers. There currently is no support for virtual hosts.
    </li>
    <li>
        If you <strong>edit</strong> an existing server (click on the pencil to the right of the
        table) your server will have to be re-moderated and/or re-verified depending on what details
        you change. The server will not show up on the frontpage until this happens.
    </li>
</ul>
{% endblock %}
