{% extends "base.html" %}
{% load url from future %}
{% load fieldwidget %}

{% block javascript %}
    <script type="text/javascript">
        var service_url = "{% url "servers_ajax" %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/OpenLayers-2.11/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}floppyforms/js/MapWidget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-table.js"></script>
    
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    {{ testform.0.media }}
{% endblock %}

{% block content %}
<h1>Your ({{ user.username }}) servers</h1>
<table class="your-servers">
    <tbody>
    <tr>
        <th>Status</th>
        {% for field in new_form %}
            <th title="{{ field.help_text }}">{{ field.label }}</th>
        {% endfor %}
        <th class="no-borders">{% csrf_token %}</th>
    </tr>
{% for form in forms %}
    {% include "includes/server_table_row.html" %}
{% endfor %}
    <tr class="new-server">
        <td></td>
        {% for field in new_form %}
            <td title="{{ field.help_text }}">{{ field|fieldwidget }}</td>
        {% endfor %}
        <td class="no-borders">
            <img class="button-add" src="{{ STATIC_URL }}img/add.png" alt="add new server" title="add new server" />
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}