{% extends "base.html" %}
{% load url from future %}

{% block title %}Moderate servers{% endblock %}
{% block pagetitle %}Moderate servers{% endblock %}

{% block content %}
<p>This page is used to verify details of servers that cannot be automatically checked. At the
moment, you only have to check if the homepage of the server and the given contact works.
</p>

<table class="table moderate-servers">
    <thead>
    <tr>
        <th>Server</th>
        <th>Contact</th>
        <th>{% csrf_token %}</th>
    </tr>
    </thead>
    <tbody>
{% for server in object_list %}
    <tr id="server_{{server.id}}">
        <td>{% include "server/includes/server_homepage.html" %}</td>
        <td>
            {% include "server/includes/server_contact.html" %}
            {% if server.contact_verified %}(verified){% endif %}
        </td>
        <td class="right" data-url="{% url "server_moderate" server.id %}">
            <img class="button-ok" src="{{ STATIC_URL }}img/save.png" alt="Ok." title="Ok." />
            <img class="button-notok" data-toggle="modal" data-target="#moderationModal" src="{{ STATIC_URL }}img/cancel.png" alt="NOT ok." title="NOT ok." />
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

<div class="modal" id="moderationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Moderate server
      </div>
      <div class="modal-body">
        <textarea id="denial-message"></textarea>
      </div>
      <div class="modal-footer">
        <button id="deny-moderation-chancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="deny-moderation" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
