{% extends "base.html" %}
{% load url from future %}

{% block title %}Moderate servers{% endblock %}
{% block pagetitle %}Moderate servers{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $("table").on("click", ".button-ok", function() {
        row = $(this).parent().parent();
        id = row.attr('id').split("_")[1];
        $.post("{% url "server_moderate" %}", {id: id, moderate: true, csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
            row.hide(500);
        });
    });
    $("table").on("click", ".button-notok", function() {
        row = $(this).parent().parent();
        id = row.attr('id').split("_")[1];
        $.post("{% url "server_moderate" %}", {id: id, moderate: false, csrfmiddlewaretoken: "{{ csrf_token }}"}, function(data) {
            row.hide(500);
        });
    });
});
</script>
{% endblock %}
    

{% block content %}
<p>This page is used to verify details of servers that cannot be automatically checked. At the
moment, you only have to check if the homepage of the server and the given contact works.
</p>

<table class="table moderate-servers">
    <thead>
    <tr>
        <th>Server</th>
        <th>Contact</th>
        <th>{% csrf_token %}</th>
    </tr>
    </thead>
    <tbody>
{% for server in object_list %}
    <tr id="server_{{server.id}}">
        <td>{% include "includes/server_homepage.html" %}</td>
        <td>
            {% include "includes/server_contact.html" %}
            {% if server.contact_verified %}(verified){% endif %}
        </td>
        <td class="right">
            <img class="button-ok" src="{{ STATIC_URL }}img/save.png" alt="Ok." title="Ok." />
            <img class="button-notok" src="{{ STATIC_URL }}img/cancel.png" alt="NOT ok." title="NOT ok." />
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
