{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "XMPP servers" %}{% endblock title %}
{% block pagetitle %}{% trans "Public XMPP servers" %}{% endblock %}

{% block content %}

<p>{% blocktrans %}This is a list of public
<a href="http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol">XMPP</a>
servers, free for everyone to use. XMPP is a open, free and decentralized
instant messaging network.{% endblocktrans %}</p>

<p>{% blocktrans %}Due to its decentralized nature, there are thousands of XMPP servers available
from which to choose from. You may choose any of the listed servers or a
different server altogether, you can always communicate with users on other
servers. This list is kindly brought to you by 
<a href="https://jabber.at">jabber.at</a>, which is run by the
<a href="https://fsinf.at">Fachschaft Informatik</a>.{% endblocktrans %}
</p>

<table class="table table-sm table-responsive-md">
  {% include "server/includes/server_row_header.html" %}
  <tbody>
{% for server in object_list %}
{% include "server/includes/server_row.html" %}
{% endfor %}
  </tbody>
</table>

{% if not user.is_authenticated %}
{% url 'account:create' as create_url %}
{% url 'account:login' as login_url %}
<p>{% blocktrans with path=request.path%}To add your own server to the list, simply <a href="{{ create_url }}">create
an account</a> or <a href="{{ login_url }}?next={{ path }}">login</a>.{% endblocktrans %}</p>
{% endif %}

{% url 'api:servers' as api_url %}
{% url 'api:help' as api_help_url %}
<p>{% blocktrans %}There also is an <a href="{{ api_url }}">API</a> for reading servers from
this list. <a href="{{ api_help_url }}">Some documentation</a> is available
for it.{% endblocktrans %}</p>
{% endblock content %}
