{% extends "base.html" %}
{% load i18n bootstrap %}

{% block title %}{% blocktrans with domain=object.domain %}{{ domain }} - delete{% endblocktrans %}{% endblock %}
{% block pagetitle %}{% blocktrans with domain=object.domain %}Delete {{ domain }}{% endblocktrans %}{% endblock %}

{% block content %}
<div class="alert alert-danger mb-4">
  <i class="fas fa-exclamation-triangle mr-1"></i>
  {% blocktrans with domain=object.domain %}Really want to delete {{ domain }}? This action cannot be undone.{% endblocktrans %}
</div>
<form method="post" class="mb-2">{% csrf_token %}
  <input type="submit" class="btn btn-primary" value="{% trans "Delete" %}">
</form>
{% endblock %}
