{% extends "base.html" %}
{% load i18n %}

{% block login %}{% endblock %}
{% block title %}{% blocktrans with domain=object.domain %}{{ domain }} - status{% endblocktrans %}{% endblock %}
{% block pagetitle %}{% blocktrans with domain=object.domain %}Status for {{ domain }}{% endblocktrans %}{% endblock %}

{% block content %}
<h3>{% trans "Technical aspects" %}</h3>
<p>{% blocktrans %}
We test some technical aspects of your server to make sure that users have
good experience when using your server.
</p>{% endblocktrans %}
{% if not object.last_checked %}
<div class="alert alert-info" role="alert">
  <h5>{% trans "Technical aspects are not yet verified" %}</h5>
  {% trans "Verifying your server is automatic, but takes a little time. Please be patient." %}
</div>
{% else %}
<table class="table table-sm">
  <tbody>
    <tr{% if object.c2s_srv_records %} class="table-tanger"{% endif %}>
      <td>{% trans "c2s SRV records" %}</td>
      <td>
        {% if object.c2s_srv_records %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
    </tr>
    <tr{% if object.s2s_srv_records %} class="table-tanger"{% endif %}>
      <td>{% trans "s2s SRV records" %}</td>
      <td>
        {% if object.c2s_srv_records %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
    </tr>
    <tr{% if object.c2s_tls_verified %} class="table-tanger"{% endif %}>
      <td>{% trans "c2s TLS connection" %}</td>
      <td>
        {% if object.c2s_srv_records %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
    </tr>
    <tr{% if object.s2s_tls_records %} class="table-tanger"{% endif %}>
      <td>{% trans "s2s TLS connection" %}</td>
      <td>
        {% if object.c2s_srv_records %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
{% endif %}

<h3>{% trans "Contact information" %}</h3>
<p>{% blocktrans %}
We require that your users have a means of contacting you for support. To have your server displayed on the
front page, both contact information for your account and for your server have to be verified.
{% endblocktrans %}</p>

<table class="table table-sm">
  <tbody>
    <tr{% if not request.user.email_confirmed %} class="table-danger"{% endif %}>
      <th>{% trans "Account email" %}</th>
      <td>{{ request.user.email }}</td>
      <td>
        {% if request.user.email_confirmed %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
      <td><a href="{% url 'account:edit' %}">{% trans "change" %}</a></td>
    </tr>
    <tr{% if not request.user.jid_confirmed %} class="table-danger"{% endif %}>
      <th>{% trans "Account JID" %}</th>
      <td>{{ request.user.jid  }}</td>
      <td>
        {% if request.user.jid_confirmed %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
      <td><a href="{% url 'account:edit' %}">{% trans "change" %}</a></td>
    </tr>
    <tr{% if not object.contact_verified %} class="table-danger"{% endif %}>
      <th>{% trans "Server contact" %}</th>
      <td>{{ object.contact }} ({{ object.get_contact_type_display }})</td>
      <td>
        {% if object.contact_verified %}
        <i class="fas fa-check text-success mr-1"></i> {% trans "Verified" %}
        {% else %}
        <i class="fas fa-times text-danger mr-1"></i> {% trans "Unverified" %}
        {% endif %}
      </td>
      <td><a href="{% url 'server:edit' pk=object.pk %}">{% trans "change" %}</a></td>
    </tr>
  </tbody>
</table>

<h3>{% trans "Moderation" %}</h3>
<p>{% trans "We manually approve or reject all servers added to this site." %}</p>

{% if object.moderated %}
<div class="alert alert-success" role="alert">
  <h5><i class="fas fa-check mr-1"></i> {% trans "Your server was approved." %}</h5>
  {% trans "Your server was approved by the moderation team." %}
</div>
{% elif object.moderated is None %}
<div class="alert alert-warning" role="alert">
  <h5><i class="fas fa-clock mr-1"></i> {% trans "Your server has not yet been moderated." %}</h5>
  {% trans "Your server was not yet moderated." %}
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  <h5><i class="fas fa-times mr-1"></i> {% trans "Your server was rejected." %}</h5>
  {% trans "We're sorry, but your server was rejected. Here's what moderators had to say:" %}
  <blockquote class="blockquote">
    <p class="ml-3 mb-0">{{ object.moderation_message }}</p>
  </blockquote>
</div>
{% endif %}

{% endblock %}
