{% extends "base.html" %}
{% load i18n static %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'server/moderate.js' %}"></script>
{% endblock %}

{% block title %}Moderate servers{% endblock %}
{% block pagetitle %}Moderate servers{% endblock %}

{% block content %}
<p>This page is used to verify details of servers that cannot be automatically checked. At the
moment, you only have to check if the homepage of the server and the given contact works.
</p>

<table class="table table-hover table-sm moderate-servers">
  <thead>
    <tr>
      <th>Server</th>
      <th>Contact</th>
      <th>{% trans "Approve" %}</th>
      <th>{% trans "Reject" %}</th>
      <th>{% csrf_token %}</th>
    </tr>
  </thead>
  <tbody>
  {% for server in object_list %}
    <tr id="server_{{server.id}}" data-url="{% url "servers:approve" server.id %}">
      <td class="align-middle">{% include "server/includes/server_homepage.html" %}</td>
      <td class="align-middle">
          {% include "server/includes/server_contact.html" %}
          {% if server.contact_verified %}(<i class="fas fa-check text-success mr-1"></i> verified){% endif %}
      </td>
      <td>
        <button type="button" class="btn btn-success btn-sm btn-approve">{% trans "Approve" %}</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm btn-reject">{% trans "Reject" %}</button>
      </td>
      {% comment %}
      <td class="right" data-url="{% url "servers:approve" server.id %}">
        {# TODO we need a modal here for rejecting a server send a message back to the user #}
        {# <img class="button-notok" data-toggle="modal" data-target="#moderationModal" src="{{ STATIC_URL }}img/cancel.png" alt="NOT ok." title="NOT ok." /> #}
      </td>
      {% endcomment %}
    </tr>
{% endfor %}
  </tbody>
</table>

<div class="modal" id="moderationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Moderate server
      </div>
      <div class="modal-body">
        <textarea id="denial-message"></textarea>
      </div>
      <div class="modal-footer">
        <button id="deny-moderation-chancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="deny-moderation" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
