CERTIFICATES_PATH='/home/mati/git/mati/xmpplist/static/certs'

STATIC_ROOT='/home/mati/git/mati/xmpplist/mystatic'
STATICFILES_DIRS = ('/home/mati/git/mati/xmpplist/static',)
TEMPLATE_DIRS = (
    '/home/mati/git/mati/xmpplist/templates',
)

EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = '/tmp/xmpplist' # change this to a proper location

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'xmpplist',                      # Or path to database file if using sqlite3.
        'USER': 'xmpplist',                      # Not used with sqlite3.
        'PASSWORD': 'nopass',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

XMPP = {
    'default': {
        'jid': 'list@jabber.at/foobar',
        'password': '',
    }
}

USE_IP6 = True
USE_IP4 = True

DEFAULT_FROM_EMAIL = 'list@jabber.at'

# Set to true if you want to use HTTPS in conformation links
#USE_HTTPS = False

