{% extends "base.html" %}
{% load bootstrap i18n %}

{% block login %}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}
{% block pagetitle %}{% trans "Login" %}{% endblock %}

{% block content %}

<p>{% trans "Please log in to add or update your public XMPP servers." %}</p>

{% url "account:create" as create_url %}
<p>{% blocktrans with url=create_url %}<a href="{{ url }}">Create an account</a> if you don't have one already.{% endblocktrans %}</p>

<form method="post" action="{% url 'account:login' %}">{% csrf_token %}
{{form|bootstrap}}
<input type="hidden" name="next" value="{{ next }}" />

<div class="form-group row">
  <div class="offset-sm-2 col-sm-10 mt-n3">
    <small><a href="{% url 'account:reset_password' %}">{% trans "Forgot password?" %}</small>
  </div>
</div>
{% bootstrap_submit _("Login") %}
<div class="form-group row"</form>
{% endblock %}
