{% extends "base.html" %}
{% load bootstrap i18n %}

{% block login %}{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}
{% block pagetitle %}{% trans "Login" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    You already are logged in. Please go to your <a href="{% url "account:index" %}">user page</a>.
{% else %}
You must login to add and manage your public servers.
<ul>
    <li>If you do not yet have an account, you can <a href="{% url "account:create" %}">create one</a>.</li>
    <li>If you forgot your password, you can <a href="{% url "account:reset_password" %}">reset it</a>.</li>
</ul>


<form method="post" action="{% url 'account:login' %}">{% csrf_token %}
{{form|bootstrap}}
<input type="hidden" name="next" value="{{ next }}" />
<div class="form-group row">
  <div class="offset-sm-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</div>
</form>
{% endif %}
{% endblock %}
