body {
	text-align: justify;
}

#your-servers {
	font-size: smaller;
}

#your-servers input, #your-servers select {
    font-size: smaller;
	width: 10em;
}

#profile-overview {
	width: 60%;
}

#profile-overview tr:first-child td, #profile-overview tr:first-child th {
    border-color: white;
}

#profile-overview th {
	width: 10em;
}

input {
	height: auto;
}

.breadcrumb {
    margin-top: 8px;
}

.breadcrumb .login {
    float: right;
}

h3 {
	margin-top: 1em;
}

ul li {
	margin: 0.5em;
}

td img {
    display: inline;
    vertical-align: middle;
}

.right {
	text-align: right;
}

.button-ok, .button-notok, .button-edit, .button-delete, .button-save, .button-cancel, .button-add {
	margin: 0 1em;
	cursor: pointer;
}

.button-edit, .button-delete {
    display: inline;
}

.button-save {
    display: none;
}
.button-cancel {
    display: none;
}

.value-edit {
    display: none;
}

.overlay {
    /* must be initially hidden */
    display: none;
    
    /* place overlay on top of other elements */
    z-index: 10000;
    padding: 5px;
    padding-right: 50px;
    text-align: left;
    
    /* styling */
    background-color: white;

    max-width: 600px;
    border: 1px solid #666;
}

/* close button positioned on upper right corner */
.overlay .close {
	background-image: url(../img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.ui-widget {
    font-size: smaller;
}

.errorlist {
    font-size: small;
    color: red;
    list-style-image: none;
    list-style-type: none;
    padding-left: 0px;
}
