table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td, th {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    padding: 4px;
    text-align: center;
}

td img {
    display: inline;
    vertical-align: middle;
}

form table {
    margin-bottom: 10px;
}

form table td {
    border-width: 0px;
    text-align: left;
}
form table th {
    border-width: 0px;
    text-align: right;
}

table.your-servers {
    width: 100%;
}

table.your-servers input {
    font-size: smaller;
    text-align: center;
}

td.no-borders, th.no-borders {
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    min-width: 36px;
    text-align: left;
}

.warning {
    font-size: x-large;
    margin-bottom: 1em;
    padding: 5px;
    padding-left: 10px;
    background-color: #FFF3F3;
    
    border: 1px solid #FFA4A4;
    border-left: 5px solid #FF6666;
}
.warning:before {
    content: "Warning: ";
}

.acknowledgement {
    font-size: x-large;
    margin-bottom: 1em;
    padding-left: 10px;
    background-color: #F3FFF3;
    
    border: 1px solid #A4FFA4;
    border-left: 5px solid #66FF66;
}

.header {
    padding-bottom: 1em;
}

.header .login {
    float: right;
}

.button-edit, .button-delete {
    display: inline;
}

.button-save {
    display: none;
}
.button-cancel {
    display: none;
}

.value-edit {
    display: none;
}

.overlay {
    /* must be initially hidden */
    display: none;
    
    /* place overlay on top of other elements */
    z-index: 10000;
    padding: 5px;
    padding-right: 50px;
    text-align: left;
    
    /* styling */
    background-color: white;

    max-width: 600px;
    border: 1px solid #666;
}

/* close button positioned on upper right corner */
.overlay .close {
	background-image: url(../img/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

.ui-widget {
    font-size: smaller;
}

.errorlist {
    font-size: small;
    color: red;
    list-style-image: none;
    list-style-type: none;
    padding-left: 0px;
}