{% spaceless %}
{% if server.contact %}
    {% if server.contact_type == 'W' %}
    <a href="{{ server.contact }}">{{ server.contact_name }}</a>
    {% else %}
        {% if server.contact_type == 'M' %}
            <a href="http://speeqe.com/room/{{ server.contact }}/">{{ server.contact_name }}</a>
        {% else %}
            {% if server.contact_type == 'J' %}JID
                <a href="xmpp:{{ server.contact }}">{{ server.contact_name }}</a>
            {% else %}
                {% if server.contact_type == 'E' %}EMAIL
                    <a href="mailto:{{ server.contact }}">{{ server.contact }}</a>
                {% else %}ELSE!
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
    <a href="xmpp:{{ server.user.profile.jid }}">{{ server.user.username }}</a>
{% endif %}
{% endspaceless %}