<ul>
    {% if not report.srv_client %}
    <li>
        No xmpp-client SRV records could be found. Please see
        <a href="http://blog.teemu.im/2008/12/14/setting-your-srv-records-straight-for-xmpp/">
        this blogpost</a> on how to get them right.
    </li>
    {% endif %}
    {% if not report.srv_server %}
    <li>
        No xmpp-server SRV records could be found. Please see
        <a href="http://blog.teemu.im/2008/12/14/setting-your-srv-records-straight-for-xmpp/">
        this blogpost</a> on how to get them right.
    </li>
    {% endif %}
    {% if not report.client_online %}
    <li>
        None of the hosts referred to by your xmpp-client SRV records worked. Either your SRV records
        are not correct or your server was temporarily unavailable.
    </li>
    {% endif %}
    {% if not report.server_online %}
    <li>
        None of the hosts referred to by your xmpp-server SRV records worked. Either your SRV records
        are not correct or your server was temporarily unavailable.
    </li>
    {% endif %}

    {% if not report.ssl_cert %}
    <li>
        The verification of your SSL capabilities failed. This either means you specified the wrong
        certificate authority or the wrong SSL port. Note that this check is performed against
        the IP addresses your A/AAAA records resolve to.
    </li>
    {% endif %}
</ul>