{% load fieldvalue %}
{% load fieldwidget %}
{% load url from future %}

<tr id="server_{{ form.instance.id }}">
    <td class="status">
        <a href="{% url "server_report" server_id=form.instance.id %}"
                rel="#verification_{{ form.prefix }}" style="text-decoration: none">
            {% if form.instance.verified  and form.instance.moderated %}
                <img src="{{ STATIC_URL }}img/save.png" alt="verified" title="verified" />
            {% else %}
                <img src="{{ STATIC_URL }}img/alert.png"
                    alt="Not verified, click to see details."
                    title="Not verified, click to see details." />    
            {% endif %}
        </a>
        <div class="overlay" id="verification_{{ form.prefix }}">
            <div class="contentWrap"></div>
        </div>
    </td>
    {% for field in form %}
        {% include "includes/server_table_cell.html" %}
    {% endfor %}
    <td class="no-borders">
        {% if form.instance.id %}
            <img class="button-edit"   src="{{ STATIC_URL }}img/edit.png" alt="edit" title="edit"
                {% if form.errors %}style="display: none;" {% endif %} />
            <img class="button-delete" src="{{ STATIC_URL }}img/delete.png" alt="delete" title="delete"
                 {% if form.errors %}style="display: none;" {% endif %} />
            <img class="button-save"   src="{{ STATIC_URL }}img/save.png" alt="save" title="save"
                 {% if form.errors %}style="display: inline;" {% endif %} />
            <img class="button-cancel" src="{{ STATIC_URL }}img/cancel.png" alt="cancel" title="cancel"
                 {% if form.errors %}style="display: inline;" {% endif %} />
        {% else %}
            <img class="button-add"    src="{{ STATIC_URL }}img/add.png"
                 alt="add new server" title="add new server" />
        {% endif %}
    </td>
</tr>