<tr id="server_{{ server.id }}">
    {% with field=form.domain %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.website %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    <td>
        <div class="value-display {{ form.ca.html_name}}"
                {% if form.errors %}style="display: none;" {% endif %}>
            {{ server.ca.name }}
        </div>
        <div class="value-edit" {% if form.errors %}style="display: block;" {% endif %}>
            {{ form.ca }} {{ form.ca.errors }}
        </div>
    </td>
    <td>
        <div class="value-display {{ form.launched.html_name }}"
                {% if form.errors %}style="display: none;" {% endif %}>
            {{ form.launched.value|date:"Y-m-d" }}
        </div>
        <div class="value-edit" {% if form.errors %}style="display: block;" {% endif %}>
            {{ form.launched }}{{ form.launched.errors }}
        </div>
    </td>
    <td class="multivalue">
        <div class="value-display" {% if form.errors %}style="display: none;" {% endif %}>
            <span class="{{ form.longitude.html_name }}">{{ server.longitude }}</span>/<span class="{{ form.latitude.html_name }}">{{ server.latitude }}</span>
        </div>
        <div class="value-edit" {% if form.errors %}style="display: block;" {% endif %}>
            {{ form.longitude }}/{{ form.latitude}}
        </div>
    </td>
    {% with field=form.ssl_port %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.contact %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.contact_name %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    <td>
        <div class="value-display {{ form.contact_type.html_name }}"
                {% if form.errors %}style="display: none;" {% endif %}>
            {{ server.get_contact_type_display }}
        </div>
        <div class="value-edit" {% if form.errors %}style="display: block;" {% endif %}>
            {{ form.contact_type }}
        </div>
    </td>
    <td class="no-borders">
        <img class="button-edit"   src="{{ STATIC_URL }}img/edit.png" alt="edit" title="edit"
            {% if form.errors %}style="display: none;" {% endif %} />
        <img class="button-delete" src="{{ STATIC_URL }}img/delete.png" alt="delete" title="delete"
             {% if form.errors %}style="display: none;" {% endif %} />
        <img class="button-save"   src="{{ STATIC_URL }}img/save.png" alt="save" title="save"
             {% if form.errors %}style="display: block;" {% endif %} />
        <img class="button-cancel" src="{{ STATIC_URL }}img/cancel.png" alt="cancel" title="cancel"
             {% if form.errors %}style="display: block;" {% endif %} />
    </td>
</tr>