{% load fieldvalue %}

<tr id="server_{{ form.instance.id }}">
    {% with field=form.domain %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.website %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.ca %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.ssl_port %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.launched %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    <td class="multivalue">
        <div class="value-display" {% if form.errors %}style="display: none;" {% endif %}>
            <span class="{{ form.latitude.html_name }}">{{ form.latitude.value }}</span>/<span class="{{ form.longitude.html_name }}">{{ form.longitude.value }}</span>
        </div>
        <div class="value-edit" {% if form.errors %}style="display: block;" {% endif %}>
            {{ form.latitude }}/{{ form.longitude}}
        </div>
    </td>
    {% with field=form.contact %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.contact_name %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    {% with field=form.contact_type %}
        {% include "includes/server_table_cell.html" %}
    {% endwith %}
    <td class="no-borders">
        <img class="button-edit"   src="{{ STATIC_URL }}img/edit.png" alt="edit" title="edit"
            {% if form.errors %}style="display: none;" {% endif %} />
        <img class="button-delete" src="{{ STATIC_URL }}img/delete.png" alt="delete" title="delete"
             {% if form.errors %}style="display: none;" {% endif %} />
        <img class="button-save"   src="{{ STATIC_URL }}img/save.png" alt="save" title="save"
             {% if form.errors %}style="display: block;" {% endif %} />
        <img class="button-cancel" src="{{ STATIC_URL }}img/cancel.png" alt="cancel" title="cancel"
             {% if form.errors %}style="display: block;" {% endif %} />
    </td>
</tr>