{% load i18n %}
<h4 class="popover-title">{% trans "Summary" %}</h4>
{% if not server.last_checked %}
<ul class="report">
{% trans "Your server will be checked with the next six hours." %}
</ul>
{% else %}
<ul class="report">
    {% if server.verified %}
        <li class="ok">{% trans "Technical aspects have been automatically verified. See below for any additional notes." %}</li>
    {% elif server.verified == None %}
        <li class="warn">{% trans "Technical aspects (SRV, TLS, ...) will be automatically verified with 24 hours." %}</li>
    {% else %}
        <li class="fail">{% trans "This server failed verification. See below for details." %}</li>
    {% endif %}
    {% if server.moderated %}
        <li class="ok">{% trans "Contact details and homepage have been verified." %}</li>
    {% elif server.moderated == None %}
        <li class="warn">{% trans "Contact details and/or homepage have not yet been verified." %}</li>
    {% else %}
        <li class="fail">
        {% blocktrans %}
            Contact details and/or homepage have been rejected. Please make
            sure you have a usable homepage and contact details.
        {% endblocktrans %}
        {% if server.moderation_message %}
        <br />
        {% blocktrans with message=server.moderation_message%}A moderator noted: <strong>{{ message }}</strong>{% endblocktrans %}
        {% endif %}
        </li>
        {% endif %}

    {% if server.verified and server.moderated %}
        <li class="ok">{% trans "Server is verified and displayed on the front page." %}</li>
    {% else %}
        <li class="fail">{% trans "Server is not displayed on the front page. Please see additional details below." %}</li>
    {% endif %}
</ul>
<h4 class="popover-title">{% trans "DNS records" %}</h4>
<ul class="report">
    <li class="{% if server.c2s_srv_records %}ok{% else %}fail{% endif %}">
        {% if server.c2s_srv_records %}
            {% blocktrans %}xmpp-client SRV records ok.{% endblocktrans %}
        {% else %}
            {% blocktrans %}No xmpp-client SRV records.{% endblocktrans %}
        {% endif %}
    </li>
    <li class="{% if server.s2s_srv_records %}ok{% else %}fail{% endif %}">
        {% if server.s2s_srv_records %}
            {% blocktrans %}xmpp-server SRV records ok.{% endblocktrans %}
        {% else %}
            {% blocktrans %}No xmpp-server SRV records.{% endblocktrans %}
        {% endif %}
    </li>
    {% if server.c2s_srv_records or server.s2s_srv_records %}
    {% if settings.USE_IP6 %}
        <li class="{% if server.ipv6 %}ok{% else %}warn{% endif %}">
            {% if server.ipv6 %}
                {% blocktrans %}All SRV records have IPv6 records{% endblocktrans %}
            {% else %}
                {% blocktrans %}IPv6 record missing at one or more SRV records.{% endblocktrans %}
            {% endif %}
        </li>
    {% endif %}
    {% endif %}
</ul>

<h4 class="popover-title">{% trans "Encryption" %}</h4>
<ul class="report">
    {% if server.ca == None %}
        <li class="warn">
            {% blocktrans %}
            Your server uses no Certificate Authority known by this website, hence your certificate was not validated.
            If you use a common one, please consider sending <a href="mailto:jabber@jabber.at">an e-mail</a>.
            {% endblocktrans %}
        <li>
    {% endif %}

    {% if server.c2s_starttls %}
        <li class="{% if server.c2s_tls_verified %}ok{% else %}fail{% endif %}">
            {% if server.c2s_tls_verified %}
                {% blocktrans %}C2S certificate verified.{% endblocktrans %}
            {% else %}
                {% blocktrans %}C2S certificate could not be verified.{% endblocktrans %}
            {% endif %}
        </li>
        {% if not server.c2s_starttls_required %}
            <li class="warn">
                {% trans "C2S encryption not mandatory." %}
            </li>
        {% endif %}
    {% elif server.ca != None %}
        <li class="fail">{% trans "Your server does not support TLS on C2S connections." %}</li>
    {% endif %}

    {% if server.s2s_starttls %}
        <li class="{% if server.s2s_tls_verified %}ok{% else %}fail{% endif %}">
            {% if server.s2s_tls_verified %}
                {% blocktrans %}S2S certificate verified.{% endblocktrans %}
            {% else %}
                {% blocktrans %}S2S certificate could not be verified.{% endblocktrans %}
            {% endif %}
        </li>
        {% if not server.s2s_starttls_required %}
            <li class="warn">
                {% trans "S2S encryption not mandatory." %}
            </li>
        {% endif %}
    {% elif server.ca != None %}
        <li class="fail">{% trans "Your server does not support TLS on S2S connections." %}</li>
    {% endif %}
</ul>

<h4 class="popover-title">{% trans "Moderation" %}</h4>
<ul class="report">
    {% if server.moderated %}
        <li class="ok">{% trans "Contact details and homepage have been verified." %}</li>
    {% elif server.contact_verified %}
        <li class="fail">{% trans "Homepage will be checked manually." %}</li>
    {% else %}
        {% if server.contact_type == "J" %}
            <li class="fail">
                {% blocktrans with medium="Jabber" %}
                    You should have received a verification message via {{ medium }}.
                    If you haven't, please resend the confirmation with the
                    button on the very right of this row.{% endblocktrans %}
            </li>
        {% elif server.contact_type == "E" %}
            <li class="fail">
                {% blocktrans with medium="E-Mail" %}
                    You should have received a verification message via {{ medium }}.
                    If you haven't, please resend the confirmation with the
                    button on the very right of this row.{% endblocktrans %}
                    </li>
        {% else %}
            <li class="fail">{% trans "Contact details will be verified manually." %}</li>
        {% endif %}
        <li class="fail">{% trans "Homepage will be checked manually." %}</li>
    {% endif %}
</ul>

{% with server.logs.all as entries %}
{% if entries %}
<h4 class="popover-title">{% trans "Log entries" %}</h4>
<ul class="report">
    {% for entry in entries %}
    <li class="{% if entry.error %}fail{% elif entry.warning%}warn{% elif entry.info %}ok{%endif%}">
        {{ entry.message }}
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endif %}
