{% load i18n static %}<!DOCTYPE html>
<html lang="en">
{% spaceless %}<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}XMPP server list{% endblock %}</title>
  {% if debug %}
  <link rel="stylesheet" href="{% static 'lib/bootstrap-4.2.1/css/bootstrap.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'lib/bootstrap-4.2.1/css/bootstrap.min.css' %}">
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  {% block css %}{% endblock %}

  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}"/>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mt-0"><div class="container">
  <a class="navbar-brand" href="{% url 'home' %}">{% trans "XMPP servers" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">{# TODO: we do not detect where we are yet #}
        <a class="nav-link" href="{% url "server:list" %}">{% trans "My servers" %}</a>
      </li>
      {% endif %}

      {% if perms.server.moderate %}
      <li class="nav-item">{# TODO: we do not detect where we are yet #}
        <a class="nav-link" href="{% url "server:moderate" %}">{% trans "Moderate" %}</a>
      </li>
      {% endif %}
    </ul>

    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <li class="nav-item">{# TODO: we do not detect where we are yet #}
          <a class="nav-link" href="{% url 'account:index' %}">{% trans "Account" %}</a>
        </li>
        <li class="nav-item">{# TODO: we do not detect where we are yet #}
          {# NOTE: don't pass "next" here b/c  LOGOUT_REDIRECT_URL is the only meaningful anon page #}
          <a class="nav-link" href="{% url 'account:logout' %}">{% trans "Logout" %}</a>
        </li>
      {% else %}
        <li class="nav-item">{# TODO: we do not detect where we are yet #}
          <a class="nav-link" href="{% url 'account:login' %}?next={{ request.path }}">{% trans "Login" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>

</div></nav>{% endspaceless %}

<main role="main" class="container">
    <div class="row content">
        <div class="col-md-12">
            <h1 id="pagetitle">{% block pagetitle %}{% endblock %}</h1>
            {% block danger %}
            {% if user.is_authenticated and not user.email_confirmed %}
                <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    Your E-Mail address has not yet been confirmed. You should have received a confirmation message
                    containing the link needed to confirm it. If you haven't received such a message,
                    you can <a href="{% url 'account:resend_confirmation' %}">resend it</a>. If
                    you misspelled your address, you can <a href="{% url 'account:edit' %}">change it here</a>.
                </div>
            {% endif %}
            {% if user.is_authenticated and not user.jid_confirmed %}
                <div class="alert alert-danger" role="alert">
                  <i class="fas fa-exclamation-triangle"></i>
                    Your JID has not yet been confirmed. You should have received a confirmation message
                    containing the link needed to confirm it. If you haven't received such a message,
                    you can <a href="{% url 'account:resend_confirmation' %}">resend it</a>. If
                    you misspelled your JID, you can <a href="{% url 'account:edit' %}">change it here</a>.
                </div>
            {% endif %}
            {% endblock danger %}

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>  
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </div>


{% spaceless %}
  <div class="row footer">
    <div class="col-md-12">
      <footer>
        <div class="content">
          <p>{% trans "© 2011-2019, Mathias Ertl" %}<br /></p>
          <p>
{% blocktrans %}This project is powered by <a href="https://www.djangoproject.com/">Django</a>. The source code is available
<a href="https://github.com/mathiasertl/django-xmpp-server-list">on GitHub</a>. The logo is based on the
Jabber logo by the <a href="http://jabber.org">Jabber.org</a> team.{% endblocktrans %}</p>
        </div>
      </footer>
    </div>
  </div>
</main>
  {% if debug %}
  <script type="text/javascript" src="{% static 'js/lib/jquery-3.3.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/bootstrap-4.2.1/js/bootstrap.js' %}"></script>
  {% else %}
  <script type="text/javascript" src="{% static 'js/lib/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/bootstrap-4.2.1/js/bootstrap.min.js' %}"></script>
  {% endif %}
  <script defer src="{% static 'lib/fontawesome/solid.js' %}"></script>
  <script defer src="{% static 'lib/fontawesome/fontawesome.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  {% block javascript %}{% endblock %}{% endspaceless %}
</body>
</html>
