{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block title %}Edit profile{% endblock %}
{% block pagetitle %}Edit your profile{% endblock %}

{% block content %}
<p>
You can edit your personal data below. Note that if you change your
email address, you will again receive a confirmation mail and your
servers will not show up on the public list until you confirm your
email address.
</p>

<form action="{% url "account_edit" %}" method="post">{% csrf_token %}
{{ user_form|bootstrap }}
<div class="actions">
<input class="btn primary" type="submit" value="Submit">
<button class="btn" type="reset">Cancel</button>
</div>
</form>
{% endblock %}
