{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Welcome {{ user.username }}!</h1>
{% if not user.profile.email_confirmed %}
    <div class="warning">
        Your E-Mail address has not yet been confirmed. You should have received a confirmation message
        containing the link needed to confirm it. If you haven't received such a message,
        you can <a href="{% url "account_resend_confirmation" %}">resend it</a>. If
        you misspelled your address, you can <a href="{% url "account_edit" %}">change it here</a>.
    </div>
{% endif %}
{% if not user.profile.jid_confirmed %}
    <div class="warning">
        Your JID has not yet been confirmed. You should have received a confirmation message
        containing the link needed to confirm it. If you haven't received such a message,
        you can <a href="{% url "account_resend_confirmation" %}">resend it</a>. If
        you misspelled your JID, you can <a href="{% url "account_edit" %}">change it here</a>.
    </div>
{% endif %}    

Here you can:
<ul>
    <li><a href="{% url "server" %}">Manage your servers</a></li>   
</ul>

<h2>Your profile</h2>
<p>
    You may want to <a href="{% url "account_edit" %}">edit your profile</a> or
    <a href="{% url "account_set_password" %}">set your password</a>.
</p>
<table>
    <tr><td>Username:</td><td>{{ user.username }}</td></tr>
    <tr><td>First name:</td><td>{{ user.first_name }}</td></tr>
    <tr><td>Last name:</td><td>{{ user.last_name }}</td></tr>
    <tr>
        <td>email:</td>
        <td>{{ user.email }}
            {% if user.profile.email_confirmed %}
                <img src="{{ STATIC_URL }}img/save.png" title="confirmed">
            {% else %}
                <img src="{{ STATIC_URL }}img/alert.png" title="not confirmed">
            {% endif %}
        </td>
    </tr>
    <tr><td>JID:</td>
        <td>{{ user.profile.jid }}
            {% if user.profile.jid_confirmed %}
                <img src="{{ STATIC_URL }}img/save.png" title="confirmed">
            {% else %}
                <img src="{{ STATIC_URL }}img/alert.png" title="not confirmed">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            
        </td>
    </tr>
</table>

{% endblock %}