{% extends "base.html" %}
{% load i18n static %}

{% block title %}Profile{% endblock %}
{% block pagetitle %}Profile{% endblock %}

{% block content %}
<p>
    You may want to <a href="{% url 'account:edit' %}">edit your profile</a> or
    <a href="{% url 'password_change' %}">set your password</a>.
</p>
<table id="profile-overview">
  <tr><th>{% trans "Username:" %}</th><td>{{ user.username }}</td></tr>
  <tr>
    <th>{% trans "Email address:" %}</th>
    <td>
      {% if user.email_confirmed %}<i class="fas fa-check text-success mr-1"></i>
      {% else %}<i class="fas fa-exclamation-circle text-warning mr1"></i>{% endif %}
      {{ user.email }}
    </td>
    </tr>
  <tr>
    <th>{% trans "JID:" %}</th>
    <td>
      {% if user.jid_confirmed %}<i class="fas fa-check text-success mr-1"></i>
      {% else %}<i class="fas fa-exclamation-circle text-warning mr-1"></i>
      {% endif %}
      {{ user.jid }}
    </td>
  </tr>
</table>

{% endblock %}
