{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block login %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    You already are logged in. Please go to your <a href="{% url "account" %}">user page</a>.
{% else %}
You must login to add and manage your public servers.
<ul>
    <li>If you do not yet have an account, you can <a href="{% url "account_create" %}">create one</a>.</li>
    <li>If you forgot your password, you can <a href="{% url "account_reset_password" %}">reset it</a>.</li>
</ul>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
{{form|bootstrap}}

<div class="actions">
<input class="btn primary" type="submit" value="Login">
<button class="btn" type="reset">Cancel</button>
</div>

<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}
{% endblock %}