{% extends "base.html" %}
{% load bootstrap i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block pagetitle %}{% trans "Reset your password" %}{% endblock %}

{% block content %}
<p>{% trans "If you have forgotten your password, you can reset it here by giving either your JID or email address." %}</p>

<div class="alert alert-info mb-4">
  {% trans "You will receive the same message via email and XMPP, but you only have to click on it once." %}
</div>

<form action="{% url "password_reset" %}" method="post">{% csrf_token %}
{{ form|bootstrap }}
{% bootstrap_submit _("Request new password") %}
</form>
{% endblock %}
