{% extends "base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block title %}Reset password{% endblock %}
{% block pagetitle %}Reset your password{% endblock %}

{% block content %}
Please give your username to receive an email with a confirmation key.

{% if form.is_valid %}
<div class="alert-message info">
    Your password has been reset and an email was sent to your address.
    Please follow the link there to reset the password.
</div>
{% endif %}

<table class="form">
<form action="{% url "account_reset_password" %}" method="post">{% csrf_token %}
<table>
{{ form|bootstrap }}
</table>

<div class="actions">
<input class="btn primary" type="submit" value="Submit">
<button class="btn" type="reset">Cancel</button>
</div>

</form>
</table>
{% endblock %}