{% extends "base.html" %}
{% load bootstrap i18n %}

{% block title %}Change password{% endblock %}
{% block pagetitle %}Change your password{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" action="{% url "account_set_password" %}" method="post">{% csrf_token %}
{{ form|bootstrap }}

<div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
        <button class="btn btn-default" type="submit">{% trans "Submit" %}</button>
        <button class="btn" type="reset">{% trans "Cancel" %}</button>
    </div>
</div>

</form>
{% endblock %}
