{% extends "base.html" %}
{% load url from future %}

{% block javascript %}
    <script type="text/javascript">
        var service_url = "{% url "servers_ajax" %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/OpenLayers-2.11/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}floppyforms/js/MapWidget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-table.js"></script>
    
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    {{ testform.0.media }}
{% endblock %}

{% block content %}
<h1>Your ({{ user.username }}) servers</h1>
<table class="your-servers">
    <tbody>
    <tr>
        <th>Status</th>
        <th>Server</th>
        <th>Website</th>
        <th>CA</th>
        <th>SSL port</th>
        <th>Launched</th>
        <th>Location</th>
        <th>Contact</th>
        <th>name</th>
        <th>type</th>
        <th class="no-borders">{% csrf_token %}</th>
    </tr>
{% for form in forms %}
    {% include "includes/server_table_row.html" %}
{% endfor %}
    <tr class="new-server">
        <td></td>
        <td>{{ new_form.domain }}</td>
        <td>{{ new_form.website }}</td>
        <td>{{ new_form.ca }}<div class="value-error"></div></td>
        <td>{{ new_form.ssl_port }}</td>
        <td>{{ new_form.launched }}</td>
        <td>
            {{ new_form.location }}
            <a href="{% url "server_ajax_mapbrowse" %}"
                    rel="#mapbrowse" style="text-decoration:none">
                <img src="{{ STATIC_URL }}img/osm.png" />
            </a>
            <div class="overlay" id="mapbrowse">
                <div class="contentWrap"></div>
            </div>
        </td>
        <td>{{ new_form.contact }}</td>
        <td>{{ new_form.contact_name }}</td>
        <td>{{ new_form.contact_type }}</td>
        <td class="no-borders">
            <img class="button-add" src="{{ STATIC_URL }}img/add.png" alt="add new server" title="add new server" />
        </td>
    </tr>
    </tbody>
</table>

{% endblock %}