{% load url from future %}

<html>
<head>
    <title>{% block title %}XMPP server list{% endblock %}</title>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.1{% if debug %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.tools.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    {% block javascript %}{% endblock %}
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lib/jquery-ui/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    {% block css %}{% endblock %}
</head>
<body>
<div class="header">
{% block header %}
    <spam class="navigation">
        {% block navigation %}
            <a href="{% url "home" %}">home</a>
            {% if user.is_authenticated %}
                | <a href="{% url "server" %}">my servers</a>
            {% endif %}
            {% if perms.server.moderate %}
                | <a href="{% url "server_moderate" %}">moderate</a>
            {% endif %}
        {% endblock %}
    </span>
    <span class="login">
    {% block login %}
    {% if user.is_authenticated %}
            <a href="{% url "account_set_password" %}">set password</a> | 
            <a href="{% url "account_edit" %}">edit profile</a> | 
            <a href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path }}">logout</a>
    {% else %}
        {% with view_path="django.contrib.auth.views.login" %}
            <a href="{% url view_path %}?next={{ request.path }}">login</a>
        {% endwith %}
    {% endif %}
    {% endblock %}
    </span>
{% endblock %}
</div>

<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>