{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Public XMPP servers</h1>
<p>
This is a list of public
<a href="http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol">XMPP</a> servers,
free for everyone to use. XMPP is a open, free and decentralized instant messaging network.</p>

<p>Due to its decentralized nature, there are thousands of XMPP servers available, from which to
choose from. You may choose any of the listed servers or a different server altogether, you can
always communicate with users on other servers. This list is kindly brought to you by
<a href="https://jabber.at">jabber.at</a>, which is run by the
<a href="https://fsinf.at">Fachschaft Informatik</a>.</p>

<table>
    <tr>
        <th>Server</th>
        <th>Country</th>
        <th>CA</th>
        <th>Deployed</th>
        <th>Software</th>
        <th>Contact</th>
    </tr>
{% for server in servers %}
    <tr>
        <td><a href="{{ server.website}}">{{ server.domain }}</a></td>
        <td>{{ server.get_country.name }}</td>
        <td><a href="{{ server.ca.website }}">{{ server.ca.name }}</a></td>
        <td>{{ server.launched.year }}</td>
        <td><a href="{{ server.software.website }}">{{ server.software.name }} {{ server.software_version }}</a></td>
        <td>{% include "includes/server_contact.html" %}
        </td>
    </tr>
{% endfor %}
</table>

{% if not user.is_authenticated %}
<p>You can simply <a href="{% url "account_create" %}">create an account</a> and
<a href="{% url "django.contrib.auth.views.login" %}?next={{ request.path }}">login</a> to add your
own servers to this list.
{% endif %}
{% endblock content %}