{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript">
        var service_url = "{% url servers_ajax %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-table.js"></script>
{% endblock %}

{% block content %}
<h1>Your ({{ user.username }}) servers</h1>
<table>
    <tbody>
    <tr>
        <th>Server</th>
        <th>Domain</th>
        <th>Certificate Provider</th>
        <th>Launched</th>
        <th>Coordinates</th>
        <th>SSL port</th>
        <th>Contact</th>
        <th>name</th>
        <th>type</th>
        <th class="no-borders"></th>
    </tr>
{% for server in user.servers.all %}
    <tr id="server_{{ server.id }}">
        <td>{{ server.domain }}</td>
        <td>{{ server.website }}</td>
        <td>{{ server.ca_authority}}</td>
        <td>{{ server.launched }}</td>
        <td>{{ server.longitude }}/{{ server.latitude }}</td>
        <td>{{ server.ssl_port }}</td>
        <td>{{ server.contact }}</td>
        <td>{{ server.contact_name }}</td>
        <td>{{ server.contact_type }}</td>
        <td class="no-borders">
            <img class="button-edit"   src="{{ STATIC_URL }}img/edit.png" alt="edit" title="edit" />
            <img class="button-delete" src="{{ STATIC_URL }}img/delete.png" alt="delete" title="delete" />
            <img class="button-save"   src="{{ STATIC_URL }}img/save.png" alt="save" title="save" />
            <img class="button-cancel" src="{{ STATIC_URL }}img/cancel.png" alt="cancel" title="cancel" />
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}