{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Reset your password</h1>

Please give your username to receive an email with a confirmation key.

{% if form.is_valid %}
<div class="acknowledgement">
    Your password has been reset and an email was sent to your address.
    Please follow the link there to reset the password.
</div>
{% endif %}

<table>
<form action="{% url "users_reset_password" %}" method="post">{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
</table>
{% endblock %}