{% spaceless %}
{% if server.contact_type == 'W' %}
<a href="{{ server.contact }}">{{ server.get_contact_text }}</a>
{% else %}
    {% if server.contact_type == 'M' %}
        <a href="xmpp:{{server.contact }}?join/">{{ server.get_contact_text }}</a>
    {% else %}
        {% if server.contact_type == 'J' %}
            <a href="xmpp:{{ server.contact }}">{{ server.get_contact_text }}</a>
        {% else %}
            {% if server.contact_type == 'E' %}
                <a href="mailto:{{ server.contact }}">{{ server.get_contact_text }}</a>
            {% else %}ELSE!
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
{% endspaceless %}
