{% load i18n %}<tr id="server-{{server.id}}" class="server-row">
  <td>{% include "server/includes/server_homepage.html" %}</td>
  <td>
    <span class="location">{{ server.location }}</span>
    <span class="location-cc">{{ server.location_cc }}</span>
  </td>
  <td>
    {% if server.ca %}
      {% if server.ca.website %}
        <a href="{{ server.ca.website }}">{{ server.ca.get_display_name }}</a>
      {% else %}
        {{ server.ca.get_display_name }}
      {% endif %}
    {% else %}
      {% trans "Unknown" %}
    {% endif %}
  </td>
  <td>{{ server.launched }}</td>
  <td>{% include "server/includes/server_contact.html" %}</td>
</tr>
