body {
    text-align: justify;
    padding-top: 4rem;
}

div.row.content {
    padding-bottom: 10px;
}

/**
 * Footer
 */
footer {
    background-color: #f8f8f8;
    padding-top: 10px;
    padding-left: 10px;
}

footer .content {
   background-repeat: no-repeat;
   background-position: 0 0;
   background-image: url('../img/logo.png');
   min-height: 64px;
   
   color: #777;
}

footer .content p {
   margin-left: 56px;
}
